body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: hsl(0, 0%, 100%);
	font-family: Inter, 'Segoe UI', Ubuntu, "Helvetica Neue", Sans-Serif;
}
h1 {
	margin: 0;
	padding: 0;
	color: hsl(0, 0%, 32%);
}
h2 {
	margin: 0;
	padding: 0;
	color: hsl(0, 0%, 32%);
}
h3 {
	margin: 0;
	padding: 0;
	color: hsl(0, 0%, 32%);
}
h4 {
	margin: 0;
	padding: 0;
	color: hsl(0, 0%, 32%);
}
h5 {
	margin: 0;
	padding: 0;
	color: hsl(0, 0%, 32%);
}
h6 {
	margin: 0;
	padding: 0;
	color: hsl(0, 0%, 32%);
}
p {
	margin: 0;
	padding: 0;
	color: hsl(0, 0%, 32%);
}
ul {
	margin: 0;
	padding: 0;
	color: hsl(0, 0%, 32%);
}
ol {
	margin: 0;
	padding: 0;
	color: hsl(0, 0%, 32%);
}
label {
	margin: 0;
	padding: 0;
	color: hsl(0, 0%, 32%);
}
